$fontFrank: "Frank Ruhl Libre";
$fontHelvetica: "helvetica_neue";
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorGray: #ededed;
$colorDarkGray: #c4c4c4;
$colorGray979797: #979797;

// Screen Size
$desktopS: 1440px;
$tabletScreen: 1108px;
$mobileScreen: 600px;

%subTitle14px {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

%subTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: $fontFrank;
}

%H1Desktop {
  font-weight: 400;
  font-size: 58px;
  line-height: 69px;
  font-family: $fontHelvetica;
  @media (max-width: $tabletScreen) {
    font-size: 54px;
    line-height: 64px;
  }
  @media (max-width: $mobileScreen) {
    font-size: 32px;
    line-height: 38px;
  }
}

%H2Desktop {
  font-weight: 400;
  font-size: 46px;
  line-height: 55px;
  font-family: $fontHelvetica;
  @media (max-width: $tabletScreen) {
    font-size: 28px;
  }
  @media (max-width: $mobileScreen) {
    font-size: 22px;
    line-height: 26px;
  }
}

%H3Desktop {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  font-family: $fontHelvetica;
  @media (max-width: $tabletScreen) {
    font-size: 22px;
  }
}

%bodyDesktop {
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  font-family: $fontHelvetica;
  @media (max-width: $tabletScreen) {
    font-size: 22px;
  }
}

a {
  text-decoration: none;
  color: $colorBlack;
}

%button {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid $colorBlack;
  padding: 22px 32px;
  background-color: transparent;
  font-family: $fontFrank;
}

ul,
li {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

.container {
  @media (max-width: $mobileScreen) {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

input,
select {
  -webkit-appearance: none;
  border-radius: 0;
}
.sectionHeader {
  .appHeader {
    display: flex;
    justify-content: space-between;
    padding: 38px 62px;
    @media (max-width: $mobileScreen) {
      padding: 30px;
    }
    .wrapLange {
      display: flex;
      gap: 4px;
      align-items: center;
      ul {
        display: flex;
        gap: 4px;
        align-items: center;
        li {
          color: $colorGray;
          @extend %subTitle14px;
          a {
            text-decoration: none;
            img {
              display: none;
              
            }
          }
          .active {
            color: $colorBlack;
            img {
              display: block;
            }
          }
        }
      }
      a {
        display: flex;
        gap: 4px;
        align-items: center;
        color: $colorGray;
        @extend %subTitle14px;
        img {
          max-width: 25px;
        }
      }
      p {
        color: $colorGray;
        @extend %subTitle14px;
      }
      button {
        img {
          display: none;
        }
      }
      .btnLangActive {
        a {
          color: $colorBlack;
        }
        img {
          display: block;
        }
      }
    }
  }
  .wrapMenuNavigation {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 75px 0;
    min-height: 100vh;
    // display: none;
    align-items: center;
    background-color: $colorBlack;
    overflow-y: scroll;
    z-index: 9;
    .wrapListMenuNavigation {
      ul {
        li {
          a {
            @extend %H2Desktop;
            color: $colorWhite;
            text-decoration: none;
          }
        }
      }
    }
  }
  .menuHam {
    .hambergerBox {
      width: 33px;
      height: 33px;
      position: relative;
      float: right;
      cursor: pointer;
      .hambergerBar {
        width: 33px;
        height: 4px;
        background-color: #000000;
        position: absolute;
      }
      .hambergerBar:nth-of-type(1) {
        top: 0px;
      }
      .hambergerBar:nth-of-type(2) {
        top: 10px;
      }
      .hambergerBar:nth-of-type(3) {
        top: 20px;
      }
      .hambergerBar:nth-of-type(1).activeHam {
        top: 10px;
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
        -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
        -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
        -webkit-transition-delay: 0.1s, 0.5s;
        transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
      }
      .hambergerBar:nth-of-type(2).activeHam {
        opacity: 0;
        transition: 0.5s ease-in-out;
      }
      .hambergerBar:nth-of-type(3).activeHam {
        top: 10px;
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.7s;
        -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.7s;
        -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
        -webkit-transition-delay: 0.1s, 0.7s;
        transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.7s;
      }
    }
    .menuHamActive {
      position: fixed;
      top: 40px;
      right: 40px;
      z-index: 99;
      .hambergerBar {
        background-color: $colorWhite;
      }
      .hambergerBar:nth-of-type(1) {
        top: 10px;
        transform: rotate(45deg);
        -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
        -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
        -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
        -webkit-transition-delay: 0.1s, 0.5s;
        transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
      }
      .hambergerBar:nth-of-type(2) {
        display: none;
      }
      .hambergerBar:nth-of-type(3) {
        top: 10px;
        transform: rotate(-45deg);
        -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.7s;
        -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.7s;
        -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
        -webkit-transition-delay: 0.1s, 0.7s;
        transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.7s;
      }
    }
    .animateMenuHead {
      -moz-transition: -moz-transform 0.3s ease 0.5s;
      -o-transition: -o-transform 0.3s ease 0.5s;
      -webkit-transition: -webkit-transform 0.3s ease;
      -webkit-transition-delay: 0.5s;
      transition: transform 0.3s ease 0.5s;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

.wrapApproach {
  padding: 125px 0 163px 0;
  h2 {
    @extend %H1Desktop;
  }
  h3 {
    @extend %subTitle;
    margin-top: 10px;
    // margin-bottom: 30px;
  }
  .wrapTextApproach {
    display: flex;
    flex-wrap: wrap;
    .wrapArticleApproach {
      display: flex;
    }
  }
}
.wrapTitleWorksHome {
  h3 {
    @extend %subTitle;
    text-align: center;
    margin-bottom: 37px;
  }
}

.sectionWorksHome {
  top: 0;
  width: 100%;
  overflow-y: scroll;
  .wrapWorksHome {
    position: relative;
    padding: 0 0 153px 0;

    .wrapTextLeftworksHome {
      top: 0%;
      left: 0%;
      width: 100%;
    }
    .wrapSubTitleWorksHome {
      h2 {
        animation-name: slideUp;
        animation-duration: 4s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        display: inline;
        @extend %bodyDesktop;
      }
    }

    .wrapCaseStudy {
      h3 {
        @extend %subTitle;
        margin-top: 29px;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          margin: 0;
          padding: 0;
          @extend %H1Desktop;
          color: $colorGray;
          cursor: pointer;
          //   line-height: normal;
          a {
            @extend %H1Desktop;
            text-decoration: none;
            color: $colorGray;
          }
        }
        .active {
          color: $colorBlack;
        }
      }
      .wrapListCaseStudyCase {
        button {
          @extend %H1Desktop;
          display: block;
          background-color: transparent;
          border-radius: 0px;
          border: none;
          color: $colorGray;
        }
        button:disabled {
          color: $colorBlack;
        }
      }
    }

    @keyframes slideUp {
        0%,
        50% {
          transform: translateY(100%);
          opacity: 0;
        }

        60%,
        100% {
          transform: translate(0px, 0px);
          opacity: 1;
        }
      }
    .wrapContentCaseStudy {
      img {
        max-width: 460px;
        // animation-name: slideUp;
        // animation-duration: 4s;
        // animation-timing-function: ease-in;
        // animation-fill-mode: forwards;
      }
      .itemContentCaseStudy {
        margin-bottom: 100px;
      }
      .itemContentCaseStudy:nth-child(even) {
        margin-left: 124px;
      }
    }
    img {
      width: 100%;
    }
    h2 {
      @extend %H2Desktop;
    }
    .lineWorskHome {
      width: 1px;
      height: 100%;
      background-color: $colorDarkGray;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 0;
    }
  }
  a {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 9px;
    button {
      @extend %button;
      min-width: 166px;
    }
  }
}

.sectionClientHome {
  padding: 100px 0 0 0;
  h3 {
    @extend %subTitle;
    text-align: center;
  }
  .wrapListClientHome {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0;
      padding: 0;
      grid-gap: 88px 179px;
      li {
        list-style: none;
        img {
          width: 100%;
        }
      }
    }
  }
  a {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 90px;
    button {
      @extend %button;
      min-width: 166px;
    }
  }
}

.sectionThinkHome {
  padding: 103px 0 100px 0;
  h3 {
    @extend %subTitle;
    text-align: center;
    margin-bottom: 39px;
  }
  a {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    button {
      @extend %button;
    }
    .ItemThinkHome {
      img {
        width: 100%;
        margin-bottom: 37px;
      }
      h2 {
        text-align: left;
        @extend %H3Desktop;
      }
    }
  }
}

.sectionTitlePage {
  padding: 130px 0;
  @media (max-width: $tabletScreen) {
    padding: 105px 0;
  }
  h2 {
    @extend %H1Desktop;
    margin-top: 10px;
    // margin-bottom: 30px;
  }
  h3 {
    @extend %subTitle;
  }
  .titleWorkInfo {
    // p {
    //   @extend %H1Desktop;
    //   span {
    //     @extend %H1Desktop;
    //   }
    // }
  }
}

.sectionTitleWorksInfo {
  padding: 130px 0 140px 0;
  @media (max-width: $mobileScreen) {
    padding: 100px 0;
  }
  h2 {
    margin-bottom: 40px;
  }
  h5 {
    @extend %bodyDesktop;
  }
  .wrapObjectiveWorks {
    margin-top: 40px;
    h4 {
      margin-bottom: 0;
    }
  }
}

.sectionListWorks {
  a {
    color: $colorBlack;
    text-decoration: none;
  }
  .ItemListWorks {
    margin-bottom: 40px;
    img {
      width: 100%;
    }
    h2 {
      @extend %H3Desktop;
      margin-top: 40px;
      margin-bottom: 20px;
      @media (max-width: $tabletScreen) {
        margin-top: 32px;
        margin-bottom: 16px;
      }
    }
    p {
      @extend %subTitle;
    }
  }
  button {
    width: 166px;
    color: $colorBlack;
    text-align: center;
    font-family: $fontFrank;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 22px 0;
    background-color: transparent;
    margin: 0 auto;
    line-height: 16px; /* 114.286% */
    margin-top: 90px;
    margin-bottom: 40px;
  }
}

.sectionTeamWorksInfo {
  padding: 130px 0;
  h3 {
    @extend %subTitle;
    text-align: center;
  }
  .ItemTeamWorks {
    margin-top: 24px;
    h2 {
      @extend %bodyDesktop;
      text-align: center;
      line-height: 11px;
    }
  }
}

.sectionInfoWorks {
  img {
    width: 100%;
    margin: 40px 0;
  }
  .imageBannerBottom {
    margin: 0;
  }
}

.sectionInfoThink {
  h4 {
    @extend %H3Desktop;
    margin: 40px 0;
  }
  p {
    @extend %bodyDesktop;
  }
  .imageBannerThinkInfo {
    width: 100%;
  }
  img {
    width: 100%;
    margin-bottom: 24px;
  }
}
.sectionInfoCulture {
  padding: 130px 0 100px 0;
  h3 {
    @extend %subTitle;
    margin-bottom: 40px;
    @media (max-width: $mobileScreen) {
      margin-bottom: 32px;
    }
  }
  .wrapInfoCulture {
    @media (max-width: $mobileScreen) {
      margin-bottom: 105px;
    }
    h2 {
      @extend %H2Desktop;
    }
    h4 {
      @extend %bodyDesktop;
    }
    img {
      width: 100%;
      margin: 150px auto;
      @media (max-width: $tabletScreen) {
        margin: 105px auto;
      }
      @media (max-width: $mobileScreen) {
        margin: 0px;
      }
    }
  }
}
.sectionInfoContact {
  padding-bottom: 130px;
  h3 {
    @extend %subTitle;
    margin-bottom: 40px;
  }
  h1 {
    @extend %H1Desktop;
  }
  h2 {
    @extend %bodyDesktop;
  }
  form {
    margin-top: 40px;
    margin-bottom: 130px;
    input {
      width: 100%;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      font-family: $fontHelvetica;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid $colorBlack;
      line-height: 31.2px;
      padding-bottom: 9px;
      margin-bottom: 24px;
    }
    textarea {
      height: 225px;
      width: 100%;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22.4px;
      font-family: $fontHelvetica;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid $colorBlack;
      line-height: 31.2px;
    }
    .btnSubmit {
      background-color: $colorBlack;
      height: 60px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 114.286% */
      color: $colorWhite;
      margin-top: 20px;
      font-family: $fontFrank;
    }
  }

  .wrapContactLink {
    margin-top: 40px;
    button {
      background-color: transparent;
      border: none;
      @extend %bodyDesktop;
    }
  }
}
.sectionListCareers {
  padding: 130px 0 40px 0;
  h3 {
    @extend %subTitle;
    margin-bottom: 40px;
    @media (max-width: $mobileScreen) {
      margin-bottom: 0px;
    }
  }
  a {
    color: $colorBlack;
    text-decoration: none;
  }
  .wrapItemListCareers {
    padding: 34px 0 40px 0;
    border-bottom: 1px solid $colorGray979797;
    @media (max-width: $mobileScreen) {
      padding: 23px 0;
    }
    .ItemListCareers {
      h3 {
        @media (max-width: $mobileScreen) {
          margin-bottom: 32px;
        }
      }
    }
    h2 {
      @extend %H2Desktop;
      @media (max-width: $mobileScreen) {
        margin-bottom: 32px;
      }
    }
    p {
      @extend %bodyDesktop;
    }
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      @media (max-width: $tabletScreen) {
        grid-template-columns: 1fr;
      }
      li {
        @extend %bodyDesktop;
      }
    }
    a {
      color: $colorBlack;
      text-decoration: none;
    }
  }
  .wrapItemListCareersContact {
    border-bottom: 0px;
  }
}

.sectionInfoCareers {
  padding: 130px 0 40px 0;
  h3 {
    @extend %subTitle;
    margin-bottom: 40px;
  }
  .wrapItemInfoCareer {
    h2 {
      @extend %H2Desktop;
    }
    p {
      @extend %bodyDesktop;
    }
  }
  .btnApply {
    width: 100%;
    background-color: transparent;
    border: 1px solid $colorBlack;
    color: $colorBlack;
    border-radius: 0px;
    padding: 23px 0;
    font-family: $fontFrank;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}

.appFooter {
  background-color: $colorBlack;
  color: $colorWhite;
  padding: 40px 0;
  a {
    color: $colorWhite;
    text-decoration: none;
    @media (max-width: $mobileScreen) {
      margin-bottom: 28px;
      display: block;
    }
  }
  h3 {
    @extend %subTitle;
    margin-bottom: 13px;
  }

  .wrapTitleFooter {
    border-bottom: 1px solid $colorWhite;
    padding-bottom: 40px;
    margin-bottom: 40px;
    h2 {
      @extend %H3Desktop;
    }
    button {
      width: 100%;
      background-color: $colorWhite;
      color: $colorBlack;
      font-size: 14px;
      line-height: 16px;
      font-family: $fontFrank;
      padding: 22px 0;
      border-radius: 0px;
      @media (max-width: $mobileScreen) {
        margin-top: 17px;
      }
    }
  }
  .wrapSocialFooter {
    ul {
      display: flex;
      gap: 41px;
      li {
        a {
          @media (max-width: $mobileScreen) {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
  .wrapAdressFooter {
    display: flex;
    gap: 11px;
    @media (max-width: $mobileScreen) {
      margin-bottom: 28px;
    }
    h4 {
      @extend %bodyDesktop;
    }
  }
  .wrapTermAndCoppyRight {
    p {
      @media (max-width: $mobileScreen) {
        text-align: center;
      }
    }
    .wrapTermFooter {
      ul {
        @media (max-width: $mobileScreen) {
          justify-content: center;
        }
      }
    }
  }
  .wrapTermFooter {
    margin-top: 40px;
    ul {
      display: flex;
      gap: 10px;
      li {
        a {
          @media (max-width: $mobileScreen) {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
  p {
    text-align: right;
    margin-top: 40px;
  }
}

.titlu {
  opacity: 0;
  transition: opacity 1s ease;
}

.fadeIn {
  opacity: 1;
}
.modal {
  background-color: $colorBlack;
  .modal-dialog {
    background-color: $colorBlack;
    .modal-content {
      background-color: $colorBlack;
      text-align: center;
      h2 {
        @extend %subTitle;
        color: $colorWhite;
        margin-bottom: 26px;
      }
      h1 {
        @extend %H1Desktop;
        color: $colorWhite;
        margin-bottom: 40px;
      }
      a {
        @extend %subTitle;
        color: $colorWhite;
        margin-bottom: 89px;
        display: block;
      }
    }
  }
  .btnClosePopup {
    background-color: transparent;
    border: none;
    position: fixed;
    top: 61px;
    right: 143px;
    .btnClose {
      width: 33px;
      height: 33px;
      .lineClose {
        width: 33px;
        height: 4px;
        background-color: $colorWhite;
        position: absolute;
      }
      .lineClose:nth-of-type(1) {
        top: 10px;
        transform: rotate(45deg);
      }
      .lineClose:nth-of-type(2) {
        top: 10px;
        transform: rotate(-45deg);
      }
    }
  }
  .modal-content {
    .wrapFormCareer{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 558px;
    }
    form {
      input {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $colorWhite;
        color: $colorWhite;
        margin-bottom: 24px;
        padding-bottom: 9px;
      }
      input::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $colorGray;

        opacity: 1; /* Firefox */
      }

      input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $colorGray;

      }

      input::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $colorGray;

      }
      #idCareer {
        display: none;
      }
      .textFile {
        width: 100%;
        border: 1px solid $colorWhite;
        font-family: $fontFrank;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        height: 60px;
        margin: 0 auto;
        margin-bottom: 51px;
        color: $colorWhite;
        padding-top: 20px;
      }
      #cv {
        opacity: 0;
        display: none;
      }
      .btnSubmit {
        width: 100%;
        border: 1px solid $colorWhite;
        font-family: $fontFrank;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        width: 166px;
        height: 60px;
        margin: 0 auto;
      }
    }
    .wrapApplyDone{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 558px;
      p{
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        color: $colorWhite;
        font-family: $fontHelvetica;
      }
    }
  }
}


.navigation {
  background-color: rgb(200, 242, 251);
  width: max-content;
  display: block;
  padding: 0.2rem 0.6rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: 4rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
}
.navigation ul {
  display: flex;
  width: 350px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.7em;
  text-align: center;
  transition: 0.5s;
  color: #04499d;
}
.navigation ul li.active a .icon {
  transform: translateY(-40px);
  font-size: 1.7em;
  color: rgb(116, 204, 236);
}
.navigation ul li a .text {
  position: absolute;
  color: black;
  font-weight: 600;
  font-size: 1.05em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
  font-size: 0.9em;
  color: black;
  font-weight: 600;
}
.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: #032a59;
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 black;
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 black;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}


.sectionListThink {
  .ItemListWorks {
    p {
      margin-top: 38px;
      margin-bottom: 0;
    }
    h2 {
      margin-top: 5px;
    }
  }
}

.sectionShareThinkInfo {
  padding-bottom: 0;
  .wrapBtnShareInfoThink {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 26px;
  }
}